:host {
  background: -moz-linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  ); /* ff3.6+ */
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0%, rgba(0, 0, 0, 1)),
    color-stop(100%, rgba(0, 128, 128, 1))
  ); /* safari4+,chrome */
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  ); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  ); /* opera 11.10+ */
  background: -ms-linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  ); /* ie10+ */
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  ); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
  color: white;
  .container {
    position: relative;
    width: auto;
    overflow-x: auto;
    mat-tree {
      background-color: inherit;
      color: inherit;
      button {
        background-color: transparent;
        border: none;
        outline: none;
        color: inherit;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
      }
      mat-tree-node {
        color: inherit;
      }
    }
  }
}
